:root {
  --primary-color: #000000;
  --secondary-color: #41b6e6;
  --tertiary-color: #d6d2c4;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}

article {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

header {
  background-color: var(--primary-color);
}

section {
  color: var(--tertiary-color);
  text-align: center;
  margin: 10px;
}

h1 {
  color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--tertiary-color);
  text-align: center;
}

h3 {
  color: var(--secondary-color);
  text-align: center;
}

/* Home */

#home:hover {
  color: var(--secondary-color);

}

.contact-logo {
  padding: 15px;
  color: var(--tertiary-color);
}

.contact-logo:hover {
  padding: 15px;
  color: var(--secondary-color-color);
}

/* Contact Button */

.home-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

.home-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color)
}

/* About Me */

/* Link To Resume */

.resume {
  color: var(--tertiary-color);
}

.resume:hover {
  color: var(--secondary-color);
}

.about {
  width: 80%;
  margin: auto;
}

.skills-logo img {
  padding: 10px;
}

/* Blog & Projects */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.blog {
  width: 80%;
  margin: auto;
}

.projects {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

/* Blog & Project Cards */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  background: linear-gradient(to bottom left, var(--primary-color) 40%, var(--secondary-color) 100%);
}

.blog-content {
  padding: 1rem;
  background: linear-gradient(to bottom left, var(--secondary-color) 40%, var(--primary-color) 100%);
}

.card-title {
  color: var(--tertiary-color);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.card-text {
  color: var(--tertiary-color);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card-date {
  font-size: 0.8rem;
  color: var(--primary-color)
}

/* Cards Button */

.card-btn {
  color: var(--tertiary-color);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.card-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-icon {
  padding: 1rem;
  display: flex;
}

a:link {
  color: var(--secondary-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--tertiary-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  background-color: transparent;
}


/* Contact Form */

.contact-details {
  flex-wrap: wrap;
  display: flex;
}

.contact-details:hover {
  color: var(--secondary-color);
}

.container {
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  width: 80%;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Contact Form Button */

input[type=submit] {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--tertiary-color);
}

/* Footer */

footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: var(--secondary-color);
  padding: 8px;
  text-align: center;
}

/* Footer Logos */

.footer {
  color: var(--tertiary-color);
  padding: 15px;
}

.footer:hover {
  color: var(--primary-color);
}

.copyright {
  font-size: 1rem;
}

/* Media Query For Phone's Screen*/

@media (min-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4,
  p {
    font-size: 1rem;
  }

  .cards-item {
    width: 50%;
  }
}

/* Media Query For Tablet and Computer's Screen*/

@media (min-width:768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4,
  p {
    font-size: 1.5rem;
  }

  .cards-item {
    width: 33.3333%;
  }
}